<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Roles</title>
    <th:block th:replace="fragments/head :: bootstrap"></th:block>
</head>
<body>
<main class="container">
    <div th:replace="fragments/navbar :: logged"></div>
    <h3 class="pb-2 mt-4 mb-2 border-bottom">
        Roles
    </h3>
    <div class="list-group mb-5">
        <a th:each="r : ${roles}" th:href="@{'/role/' + ${r.id} + '/'}" class="list-group-item list-group-item-action">
            <span th:text="${r.authority}"></span>
        </a>
    </div>
</main>
</body>
</html>
